<h1>Bookshelf</h1>
<h2>All books</h2>

<div id="books">
  <% books.each do |book| %>
    <div class="book">
      <h3><%= book.title %></h3>
      <p><%= book.author %></p>
    </div>
  <% end %>
</div>
